dist: trusty
language: cpp

os: linux

addons:
  apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:

        - doxygen
        - doxygen-doc
        - doxygen-latex
        - doxygen-gui
        - graphviz


before_install:
  - pip install --user cpp-coveralls


script:
  - cmake -H. -Bbuild
  - cd build
  - cmake --build .
  - ctest -V .
  - doxygen Doxyfile


after_success:
  - coveralls --root .. --verbose --exclude build/CMakeFiles/ --exclude build/googletest-src/ --exclude test --gcov-options '\-lp'

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: docs/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: master



notifications:
  email: false