dist: trusty
language: cpp

os: linux

addons:
  apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
#      - doxygen
#      - graphviz


before_install:
  - pip install --user cpp-coveralls


script:

  - cmake -H. -Bbuild
  - cd build
  - cmake --build .
  - ctest -V
  - ./test/mainTest

after_success:
  - coveralls --root .. --verbose --exclude build/CMakeFiles/ --exclude build/googletest-src/ --exclude tests --gcov-options '\-lp'

notifications:
  email: false