dist: trusty
language: cpp
compiler:
  - gcc

os: linux

addons:
  apt:
      sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-trusty-5.0
      packages:
        - gcc-6
        - g++-6
#      - doxygen
#      - graphviz


before_install:
  - pip install --user cpp-coveralls


script:
  - cmake -H. -Bbuild -DENABLE_COVERAGE=1 -DCMAKE_CXX_COMPILER="g++-6"
  - cd build
  - cmake --build .
  - ctest -v

after_success:
  - coveralls --root .. --verbose --exclude build/CMakeFiles/ --exclude build/googletest-src/ --gcov-options '\-lp'