dist: trusty
language: cpp
compiler:
  - clang

os: linux

addons:
  apt:
      sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-trusty-5.0
      packages:
#      - doxygen
#      - graphviz


before_install:
  - pip install --user cpp-coveralls


script:
  - cmake -H. -Bbuild
  - cd build
  - cmake --build -DENABLE_COVERAGE=1 .
  - ctest -V

after_success:
  - coveralls --root .. --verbose --exclude build/CMakeFiles/ --exclude build/googletest-src/ --gcov-options '\-lp'