dist: trusty
language: cpp
compiler:
  - gcc

os: linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-5.0
    packages:
      - g++-6
      - clang-5.0

before_install:
  - pip install --user cpp-coveralls

before_script:
  - mkdir build
  - cd build


script:
  - CXX=/usr/bin/g++-6 CC=/usr/bin/gcc-6 cmake -DCOVERAGE=1 ..
  - cmake --build .


after_success:
  - coveralls --exclude lib --gcov-options '\-lp'