dist: trusty
language: cpp
compiler:
  - gcc

os: linux

before_script:
  - pip install --user cpp-coveralls
  - mkdir build
  - cd build

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-5.0
    packages:
      - gcc-6
      - g++-6


script:


  - cmake --build .
  - test/mainTest



after_success:
  - coveralls --verbose --root .. --exclude build/CMakeFiles/ --exclude build/googletest-src/ --gcov-options '\-lp'