dist: trusty
language: cpp
compiler:


os: linux

addons:
  apt:

    sources:
      - ubuntu-toolchain-r-test
    packages:
      - doxygen
      - graphviz
      - g++-7
      - gcc-7

before_install:
  - pip install --user cpp-coveralls
  - export CC=/usr/bin/gcc-7
  - export CXX=/usr/bin/g++-7

before_script:
  - pip install --user cpp-coveralls


script:
  - cmake . -B".build" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug
  - cmake --build .build --target all
  - cd .build && ctest -VV

after_success:
- coveralls -E ".build/googletest.*" -E ".build/CMakeFiles.*" --gcov-options "\-lp"